{% extends "base.html" %}

{% block title %}Citations - US History Field Trip Project{% endblock %}

{% block content %}
  <div id="citations-container" class="main-info-text" style="white-space:normal;">
        <h1 class="main-info-title">Works Cited</h1>
    <ul class="main-info-text">
    <li>
        “Archeology This Month: Native American Heritage (U.S. National Park Service).” 
        <i>National Park Service</i>, 6 Mar. 2023, 
        <a href="https://www.nps.gov/articles/000/archeology-this-month-native-american-heritage.htm" target="_blank">
        www.nps.gov/articles/000/archeology-this-month-native-american-heritage.htm
        </a>.
    </li>

    <li>
        Peterson, J. E. “History of the United Arab Emirates | Summary, Government, People, & Facts.” 
        <i>Encyclopædia Britannica</i>, 5 Oct. 2023, 
        <a href="https://www.britannica.com/topic/history-of-the-United-Arab-Emirates" target="_blank">
        www.britannica.com/topic/history-of-the-United-Arab-Emirates
        </a>. Accessed 12 Nov. 2025.
    </li>

    <li>
        “American Colonies | Facts, History, and Definition.” 
        <i>Encyclopædia Britannica</i>, 2019, 
        <a href="https://www.britannica.com/topic/American-colonies" target="_blank">
        www.britannica.com/topic/American-colonies
        </a>. Accessed 12 Nov. 2025.
    </li>

    <li>
        Harris, James T., and Willard M. Wallace. “United States - History.” 
        <i>Encyclopædia Britannica</i>, 13 Jan. 2019, 
        <a href="https://www.britannica.com/place/United-States/History" target="_blank">
        www.britannica.com/place/United-States/History
        </a>. Accessed 12 Nov. 2025.
    </li>
    </ul>

  </div>

{% endblock %}
