{% extends "base.html" %}

{% block title %}US History Field Trip Project{% endblock %}

{% block content %}
<h1 class="main-menu-text">Conclusion</h1>

<br><hr><br>

<p class="main-menu-text">
To conclude both the U.S. and UAE are nations that started from traditional and indigenous beginnings, relying on geographical surroundings to build a civilization, while many many years later they were both colonized by Britain, both countries faced their challenges in earning freedom and independence, but both also persevered and worked hard towards achieving their independence, America did however have a harder time. Nonetheless both countries ended up gaining their independence and changing history.
</p>

{% endblock %}